In [1]:
import pandas as pd

# Wczytanie

In [16]:
oceny = pd.read_csv("AiSD2.csv")
oceny.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA

In [17]:
oceny["Nazwisko"]

KeyError: 'Nazwisko'

In [18]:
oceny.columns

Index(['Imię', '      Nazwisko', '           Z1(4+1)', '  Z2(4+1)',
       '    Z3(4+1)', '   Z4(4+1)', '   Z5(2+2)', '   Z6(4+1)', '  Z7(4+1)',
       '   Z8(4+1)', '   Z9(4+1)', ' Z10(4+1)', '    Z11(4+1)', '  Z12(4+1)',
       '            Z13(5)', '  Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [20]:
oceny["      Nazwisko"].values

array(['      Nowak', '     Kowalski', '     Wiśniewski', '    Dąbrowski',
       '  Lewandowski', 'Wójcik', '    Kamiński', '     Kowalczyk',
       '    Zielińska', '   Szymański', '    Woźniak'], dtype=object)

# Podejście najszybsze

In [21]:
oceny = pd.read_csv("AiSD2.csv", skipinitialspace=True)
oceny.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN

## Podejście alternatywne:

Wybieramy kolumny typu `object` (czyli napisowe, czyli wszystkie) i robimy apply (funkcja w apply przyjmuje kolumnę) który chodzi po wszystkich kolumnach i je stripuje.

In [22]:
oceny.columns = oceny.columns.str.strip()

In [15]:
oceny_obj = oceny.select_dtypes(['object'])
oceny[oceny_obj.columns] = oceny_obj.apply(lambda x: x.str.strip())

# E-maile:

Załóżmy, że ktoś się nazywa Łukasz Bączyński. Jego mail na naszym wydziale to baczynskil@student.mini.pw.edu.pl

In [31]:
oceny["E-mail"] = (oceny["Nazwisko"]+oceny["Imię"].str[0]).str.lower()+"@student.mini.pw.edu.pl"

In [32]:
oceny.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5),E-mail
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN,nowaka@student.mini.pw.edu.pl
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN,kowalskir@student.mini.pw.edu.pl
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN,wiśniewskip@student.mini.pw.edu.pl
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN,dąbrowskia@student.mini.pw.edu.pl
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,lewandowskij@student.mini.pw.edu.pl

# unidecode

W terminalu: `conda install unidecode`

In [33]:
!pwd

/home/kodolamacz/bootcamp-2019-08-31/CzyszczenieDanych

In [34]:
!whereis pip

pip: /home/kodolamacz/anaconda3/bin/pip

In [35]:
!whereis conda

conda: /home/kodolamacz/anaconda3/bin/conda

In [36]:
from unidecode import unidecode
unidecode("ąółżźćęśĄÓŁŻŹĆĘŚ")

'aolzzcesAOLZZCES'

In [39]:
import numpy as np
unidecode_vectorized = np.vectorize(unidecode)

In [41]:
oceny["E-mail"] = unidecode_vectorized(oceny["E-mail"])
oceny["E-mail"]

0           nowaka@student.mini.pw.edu.pl
1        kowalskir@student.mini.pw.edu.pl
2      wisniewskip@student.mini.pw.edu.pl
3       dabrowskia@student.mini.pw.edu.pl
4     lewandowskij@student.mini.pw.edu.pl
5          wojcikb@student.mini.pw.edu.pl
6        kaminskil@student.mini.pw.edu.pl
7       kowalczyko@student.mini.pw.edu.pl
8       zielinskaj@student.mini.pw.edu.pl
9       szymanskio@student.mini.pw.edu.pl
10        wozniakp@student.mini.pw.edu.pl
Name: E-mail, dtype: object

# unicodedata

In [44]:
import unicodedata
unicodedata.normalize('NFKD', "ąółżźćęśĄÓŁŻŹĆĘŚ").replace('ł', 'l').replace('Ł', 'L').encode('ascii', 'ignore')

b'aolzzcesAOLZZCES'

In [45]:
import unicodedata

def usunAkcenty(polskiNapis):
    return unicodedata.normalize('NFKD', polskiNapis).replace('ł', 'l').replace('Ł', 'L').encode('ascii', 'ignore')

usunAkcentyZwektoryzowane = np.vectorize(usunAkcenty)
usunAkcentyZwektoryzowane(oceny.Nazwisko)

array([b'Nowak', b'Kowalski', b'Wisniewski', b'Dabrowski', b'Lewandowski',
       b'Wojcik', b'Kaminski', b'Kowalczyk', b'Zielinska', b'Szymanski',
       b'Wozniak'], dtype='|S11')

# E-maile jako jeden napis

Chcę otrzymać napis typu "student1@domena.pl, student2@domena.pl, student3@domena.pl"

In [46]:
oceny["E-mail"].str.cat(sep=", ")

'nowaka@student.mini.pw.edu.pl, kowalskir@student.mini.pw.edu.pl, wisniewskip@student.mini.pw.edu.pl, dabrowskia@student.mini.pw.edu.pl, lewandowskij@student.mini.pw.edu.pl, wojcikb@student.mini.pw.edu.pl, kaminskil@student.mini.pw.edu.pl, kowalczyko@student.mini.pw.edu.pl, zielinskaj@student.mini.pw.edu.pl, szymanskio@student.mini.pw.edu.pl, wozniakp@student.mini.pw.edu.pl'

In [48]:
", ".join(oceny["E-mail"])

'nowaka@student.mini.pw.edu.pl, kowalskir@student.mini.pw.edu.pl, wisniewskip@student.mini.pw.edu.pl, dabrowskia@student.mini.pw.edu.pl, lewandowskij@student.mini.pw.edu.pl, wojcikb@student.mini.pw.edu.pl, kaminskil@student.mini.pw.edu.pl, kowalczyko@student.mini.pw.edu.pl, zielinskaj@student.mini.pw.edu.pl, szymanskio@student.mini.pw.edu.pl, wozniakp@student.mini.pw.edu.pl'

In [49]:
oceny.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5),E-mail
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN,nowaka@student.mini.pw.edu.pl
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN,kowalskir@student.mini.pw.edu.pl
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN,wisniewskip@student.mini.pw.edu.pl
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN,dabrowskia@student.mini.pw.edu.pl
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,lewandowskij@student.mini.pw.edu.pl

# Rozdział na część laboratoryjną i domową

In [52]:
import re

re.findall("Z(\d{1,2})\((\d+)\+(\d+)\)", "Z12(167+987)")

[('12', '167', '987')]

In [53]:
oceny2 = oceny.copy()

In [54]:
oceny2

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5),E-mail
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN,nowaka@student.mini.pw.edu.pl
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN,kowalskir@student.mini.pw.edu.pl
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN,wisniewskip@student.mini.pw.edu.pl
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN,dabrowskia@student.mini.pw.edu.pl
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,lewandowskij@student.mini.pw.edu.pl
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,NaN,wojcikb@student.mini.pw.edu.pl
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,NaN,kaminskil@student.mini.pw.edu.pl
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,NaN,kowalczyko@student.mini.pw.edu.pl
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,zielinskaj@student.mini.pw.edu.pl
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,szymanskio@student.mini.pw.edu.pl
10,Patryk,Woźniak,2.0+1.0,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,2.0+0.0,4.0+1.0,NaN,wozniakp@student.mini.pw.edu.pl

In [65]:
oceny2 = oceny.copy()
# 13 zmieniamy
oceny2.rename({"Z13(5)":"Z13(4+1)"}, axis=1, inplace=True)
# 15 usuwamy
oceny2.drop("Z15(5)", axis=1, inplace=True)
oceny2

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(4+1),Z14(4+1),E-mail
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,nowaka@student.mini.pw.edu.pl
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,kowalskir@student.mini.pw.edu.pl
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,wisniewskip@student.mini.pw.edu.pl
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,dabrowskia@student.mini.pw.edu.pl
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,lewandowskij@student.mini.pw.edu.pl
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,wojcikb@student.mini.pw.edu.pl
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,kaminskil@student.mini.pw.edu.pl
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,kowalczyko@student.mini.pw.edu.pl
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,zielinskaj@student.mini.pw.edu.pl
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,szymanskio@student.mini.pw.edu.pl
10,Patryk,Woźniak,2.0+1.0,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,2.0+0.0,4.0+1.0,wozniakp@student.mini.pw.edu.pl

In [66]:
oceny2.shape

(11, 17)

In [69]:
#i = 2
oceny2 = oceny.copy()
# 13 zmieniamy
oceny2.rename({"Z13(5)":"Z13(4+1)"}, axis=1, inplace=True)
# 15 usuwamy
oceny2.drop("Z15(5)", axis=1, inplace=True)
oceny2

for i in range(2, 16):
    numer, maks_lab, maks_dom = re.findall("Z(\d{1,2})\((\d+)\+(\d+)\)", oceny2.columns[i])[0]
    #print(numer, maks_lab, maks_dom)
    laboratorium = oceny2.iloc[:, i].str.split("+", expand=True)[0] # expand zwraca każdą składową jako osobną kolumnę
    domowa = oceny2.iloc[:, i].str.split("+", expand=True)[1]
    oceny2[f"L{numer}({maks_lab})"] = laboratorium
    oceny2[f"D{numer}({maks_dom})"] = domowa

oceny2.drop(oceny2.columns[2:16], axis=1, inplace=True)
oceny2

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,ZW,ZW,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,NB,1.0,1.0,NS.(3.0),NS.(1.0),4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,US,1.0,2.5,1.0,1.5,...,ZW,ZW,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,ZW,ZW,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,NB,3.5,1.0,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,US,US,0.5,0.0,1.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0

# Zamieniamy nieobecności/plagiaty

* NB, NA - nieobecność nieusprawiedliwiona, 0
* US, ZW - nieobecność usprawiedliwiona, o tym zaraz, np.NaN
* NS.(1.0) - praca niesamodzielna, 0

In [76]:
oceny3 = oceny2.copy()
oceny3.replace("NB", "0", inplace=True)
oceny3.replace("NA", "0", inplace=True)
oceny3.replace("NS.*", "0", inplace=True, regex=True)
oceny3.replace("ZW", np.NaN, inplace=True)
oceny3.replace("US", np.NaN, inplace=True)
oceny3

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,NaN,NaN,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,0,1.0,1.0,0,0,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,NaN,NaN,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0,0,0,0,0,0,0,0,0,0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,NaN,NaN,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,0,3.5,1.0,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0,0,0,0,0,0,0,0,0,0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0

# Wstawiamy średnie z średnich za np.NaN (zwolnienia lekarskie)

## Konwersja na floaty

In [81]:
oceny3.iloc[:,3:] = oceny3.iloc[:,3:].astype(float)
oceny3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 31 columns):
Imię        11 non-null object
Nazwisko    11 non-null object
E-mail      11 non-null object
L1(4)       11 non-null object
D1(1)       11 non-null object
L2(4)       9 non-null object
D2(1)       10 non-null object
L3(4)       11 non-null object
D3(1)       11 non-null object
L4(4)       11 non-null object
D4(1)       11 non-null object
L5(2)       11 non-null object
D5(2)       11 non-null object
L6(4)       10 non-null object
D6(1)       11 non-null object
L7(4)       11 non-null object
D7(1)       11 non-null object
L8(4)       11 non-null object
D8(1)       11 non-null object
L9(4)       11 non-null object
D9(1)       11 non-null object
L10(4)      9 non-null object
D10(1)      9 non-null object
L11(4)      11 non-null object
D11(1)      11 non-null object
L12(4)      10 non-null object
D12(1)      10 non-null object
L13(4)      11 non-null object
D13(1)      11 non-null object
L14(4)      11 non-null object
D14(1)      11 non-null object
dtypes: object(31)
memory usage: 2.7+ KB

In [82]:
oceny3.columns

Index(['Imię', 'Nazwisko', 'E-mail', 'L1(4)', 'D1(1)', 'L2(4)', 'D2(1)',
       'L3(4)', 'D3(1)', 'L4(4)', 'D4(1)', 'L5(2)', 'D5(2)', 'L6(4)', 'D6(1)',
       'L7(4)', 'D7(1)', 'L8(4)', 'D8(1)', 'L9(4)', 'D9(1)', 'L10(4)',
       'D10(1)', 'L11(4)', 'D11(1)', 'L12(4)', 'D12(1)', 'L13(4)', 'D13(1)',
       'L14(4)', 'D14(1)'],
      dtype='object')

In [80]:
# wybrać odpowiednie kolumny, skonwertować na floaty
# połączyć concatem imię, nazwisko, e-mail i te skonwertowane kolumny

oceny4 = pd.concat([oceny3.iloc[:,:3],oceny3.iloc[:,3:].astype(float)], axis=1)
oceny4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 31 columns):
Imię        11 non-null object
Nazwisko    11 non-null object
E-mail      11 non-null object
L1(4)       11 non-null float64
D1(1)       11 non-null float64
L2(4)       9 non-null float64
D2(1)       10 non-null float64
L3(4)       11 non-null float64
D3(1)       11 non-null float64
L4(4)       11 non-null float64
D4(1)       11 non-null float64
L5(2)       11 non-null float64
D5(2)       11 non-null float64
L6(4)       10 non-null float64
D6(1)       11 non-null float64
L7(4)       11 non-null float64
D7(1)       11 non-null float64
L8(4)       11 non-null float64
D8(1)       11 non-null float64
L9(4)       11 non-null float64
D9(1)       11 non-null float64
L10(4)      9 non-null float64
D10(1)      9 non-null float64
L11(4)      11 non-null float64
D11(1)      11 non-null float64
L12(4)      10 non-null float64
D12(1)      10 non-null float64
L13(4)      11 non-null float64
D13(1)      11 non-null float64
L14(4)      11 non-null float64
D14(1)      11 non-null float64
dtypes: float64(28), object(3)
memory usage: 2.7+ KB

## Pętle

In [ ]:
# pętla po wierszach
#    pętla po kolumnach
#      jeśli nan:
#        policz średnią z wiersza i kolumny

In [95]:
%%timeit
oceny5 = oceny4.copy()
for wiersz in range(oceny5.shape[0]):
    for kolumna in range(3, oceny5.shape[1]):
        if np.isnan(oceny5.iloc[wiersz, kolumna]):
            srednia_kolumny = oceny5.iloc[:, kolumna].mean()
            srednia_wiersze = oceny5.iloc[wiersz, 3:31].mean()
            oceny5.iloc[wiersz, kolumna] = np.mean([srednia_kolumny, srednia_wiersze])
oceny5

33.5 ms ± 4.25 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

### Bardziej zwektoryzowany

In [86]:
# policzyć średnie dla każdej kolumny i każdego wiersza (w sposób zwektoryzowany)
# znaleźć indeksy, na których są nany (zwektoryzowany)
# podstawić pod te indeksy średnie z średnich (indeksowanie listą liczb całkowitych)

oceny_macierz = oceny4.values[:, 3:].astype(float)
oceny_macierz.shape

(11, 28)

In [87]:
oceny_wiersze = np.nanmean(oceny_macierz, axis=1)
oceny_kolumny = np.nanmean(oceny_macierz, axis=0)
oceny_wiersze

array([1.46153846, 1.26785714, 1.76      , 0.125     , 0.50892857,
       1.43269231, 1.53703704, 1.75      , 0.26923077, 0.26785714,
       1.73214286])

In [88]:
indeksy_nan = np.where(np.isnan(oceny_macierz))
indeksy_nan

(array([0, 0, 2, 2, 2, 5, 5, 6, 8, 8]),
 array([22, 23,  2, 18, 19, 18, 19, 10,  2,  3]))

In [89]:
oceny_macierz[indeksy_nan] = (oceny_wiersze[indeksy_nan[0]] + oceny_kolumny[indeksy_nan[1]])/2

In [90]:
oceny_macierz

array([[2.5       , 1.        , 4.        , 1.        , 2.        ,
        0.        , 1.        , 2.        , 1.5       , 2.        ,
        2.        , 0.        , 0.        , 0.        , 1.5       ,
        1.        , 3.5       , 0.5       , 2.        , 0.        ,
        0.5       , 1.        , 1.58076923, 0.93076923, 4.        ,
        0.        , 4.        , 1.        ],
       [3.        , 0.        , 2.        , 0.5       , 2.        ,
        1.        , 1.5       , 1.5       , 2.        , 1.        ,
        1.        , 0.5       , 0.        , 0.        , 3.        ,
        1.        , 3.5       , 1.        , 0.        , 0.        ,
        1.        , 1.        , 0.        , 0.        , 4.        ,
        0.        , 4.        , 1.        ],
       [2.5       , 0.5       , 2.10222222, 1.        , 2.5       ,
        1.        , 1.5       , 1.5       , 2.        , 1.5       ,
        3.5       , 0.        , 1.        , 1.        , 3.        ,
        1.        , 3.5       , 1.        , 1.26888889, 0.93555556,
        1.        , 0.5       , 3.5       , 1.        , 4.        ,
        1.        , 4.        , 1.        ],
       [0.5       , 1.        , 1.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [2.        , 0.        , 3.        , 1.        , 1.        ,
        0.        , 1.5       , 1.5       , 0.5       , 0.        ,
        1.25      , 0.        , 0.        , 0.        , 2.5       ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [2.        , 1.        , 2.        , 1.        , 2.5       ,
        0.5       , 1.5       , 1.5       , 0.5       , 1.        ,
        1.75      , 0.5       , 0.        , 1.        , 1.5       ,
        1.        , 4.        , 1.        , 1.10523504, 0.77190171,
        0.5       , 1.        , 3.        , 0.        , 4.        ,
        1.        , 3.5       , 0.        ],
       [4.        , 1.        , 2.        , 1.        , 3.5       ,
        1.        , 1.5       , 0.5       , 1.5       , 0.5       ,
        1.41851852, 1.        , 0.5       , 1.        , 2.        ,
        1.        , 3.5       , 1.        , 2.        , 0.        ,
        0.5       , 0.5       , 3.        , 1.        , 2.        ,
        1.        , 4.        , 1.        ],
       [4.        , 0.5       , 4.        , 1.        , 2.        ,
        1.        , 4.        , 2.        , 2.        , 1.        ,
        1.5       , 0.        , 1.        , 1.        , 4.        ,
        1.        , 4.        , 1.        , 1.        , 0.5       ,
        0.        , 0.        , 3.5       , 1.        , 4.        ,
        1.        , 3.        , 0.        ],
       [2.5       , 0.        , 1.35683761, 0.55961538, 0.5       ,
        0.        , 1.        , 0.        , 0.5       , 1.        ,
        1.        , 0.        , 0.5       , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [2.5       , 1.        , 0.        , 0.        , 1.        ,
        0.5       , 0.        , 1.5       , 0.5       , 0.5       ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [2.        , 1.        , 4.        , 1.        , 2.5       ,
        1.        , 3.        , 2.        , 1.        , 0.5       ,
        1.        , 0.5       , 1.        , 0.5       , 2.        ,
        1.        , 4.        , 1.        , 2.        , 0.5       ,
        4.        , 1.        , 4.        , 1.        , 2.        ,
        0.        , 4.        , 1.        ]])

In [91]:
oceny5_Numpy = oceny4.copy(deep=True)
oceny5_Numpy.iloc[:, 3:] = oceny_macierz

In [92]:
oceny5_Numpy

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,2.000000,0.000000,0.5,1.0,1.580769,0.930769,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.000000,0.000000,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,1.268889,0.935556,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.105235,0.771902,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,2.000000,0.000000,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,1.000000,0.500000,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.356838,0.559615,0.5,0.0,1.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,2.000000,0.500000,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0

In [93]:
%%timeit
oceny_macierz = oceny4.values[:, 3:].astype(float)
oceny_wiersze = np.nanmean(oceny_macierz, axis=1)
oceny_kolumny = np.nanmean(oceny_macierz, axis=0)
indeksy_nan = np.where(np.isnan(oceny_macierz))
oceny_macierz[indeksy_nan] = (oceny_wiersze[indeksy_nan[0]] + oceny_kolumny[indeksy_nan[1]])/2
oceny5_Numpy = oceny4.copy(deep=True)
oceny5_Numpy.iloc[:, 3:] = oceny_macierz

6.74 ms ± 401 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

# Wystawianie ocen (nareszcie!)

* obliczyć maksymalną sumę punktów
* obliczyć sumę punktów dla każdego studenta
* obliczyć procent maksa dla każdego studenta

In [99]:
# dygresja
match = re.search('(?P<name>.*) (?P<phone>.*)', 'John 123456')
match.group('name')

'John'

In [119]:
nazwy = oceny5.columns.values.astype(str)
suma_max = np.sum(np.apply_along_axis(lambda x : re.findall("[LD]\d+\((\d+)\)", str(x)),
                           axis=0, 
                           arr=nazwy).astype(int))
suma_max

69

In [120]:
oceny5[f"Suma({suma_max})"] = oceny5.sum(axis=1)
oceny5

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D10(1),L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1),Suma(69)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.000000,0.5,1.0,1.580769,0.932977,4.0,0.0,4.0,1.0,40.513746
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.000000,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0,35.500000
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,0.932920,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0,48.310613
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.500000
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,14.250000
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,0.807389,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0,39.187509
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.000000,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0,42.918519
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.500000,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0,49.000000
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.339726,0.579439,0.5,0.0,1.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,8.919166
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,7.500000
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,0.500000,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0,48.500000

In [121]:
oceny5[f"Procenty"] = oceny5["Suma(69)"]/suma_max
oceny5

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L11(4),D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1),Suma(69),Procenty
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.5,1.0,1.580769,0.932977,4.0,0.0,4.0,1.0,40.513746,0.587156
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,1.0,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0,35.500000,0.514493
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,1.0,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0,48.310613,0.700154
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.500000,0.050725
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,14.250000,0.206522
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,0.5,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0,39.187509,0.567935
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.5,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0,42.918519,0.622008
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.0,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0,49.000000,0.710145
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.339726,0.579439,0.5,0.0,1.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,8.919166,0.129263
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,7.500000,0.108696
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,4.0,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0,48.500000,0.702899

In [122]:
oceny5["Ocena"] = pd.cut(oceny5["Procenty"], [0, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0], labels=["2", "3", "3.5", "4", "4.5", "5"])
oceny5

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D11(1),L12(4),D12(1),L13(4),D13(1),L14(4),D14(1),Suma(69),Procenty,Ocena
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,1.0,1.580769,0.932977,4.0,0.0,4.0,1.0,40.513746,0.587156,3
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,1.0,0.000000,0.000000,4.0,0.0,4.0,1.0,35.500000,0.514493,3
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.102222,1.000000,2.5,1.0,1.5,...,0.5,3.500000,1.000000,4.0,1.0,4.0,1.0,48.310613,0.700154,4
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.500000,0.050725,2
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,14.250000,0.206522,2
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.0,3.000000,0.000000,4.0,1.0,3.5,0.0,39.187509,0.567935,3
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.5,3.000000,1.000000,2.0,1.0,4.0,1.0,42.918519,0.622008,3.5
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.0,3.500000,1.000000,4.0,1.0,3.0,0.0,49.000000,0.710145,4
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.339726,0.579439,0.5,0.0,1.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,8.919166,0.129263,2
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,7.500000,0.108696,2
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,1.0,4.000000,1.000000,2.0,0.0,4.0,1.0,48.500000,0.702899,4